div.target {
    .mat-form-field {
        width:90%;
        margin:0 auto;
        display:block;

    }
}

div.pad {
    button {
        font-size:1.5em;
        width:65px;
        height:65px;
    }
  }
.mat-fab.mat-accent{
  background-color: #8dbd3f !important;
}

